* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.subnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    width:70%;
}

.logo{
    font-size: 2rem;
    font-weight: 700;
}

.menu{
    display: flex;
    gap:1.5rem
}

.menu a{
    text-decoration: none;
    color:black;
    font-size: 1.2rem;
    font-weight: 500;
}

.user{
    color:rgb(37, 170, 214);
    font-weight: 700;
}

.hero{
    display: flex;
    gap:3rem;
    padding: 2rem 5rem ;
}

.left{
    width: 60%;
}

.right{
    width: 40%;
}

h1{
    font-size: 4rem;
}

h1 span{
    color:rgb(37, 170, 214);
}

p{
    font-weight: 500;
    color:#858585
}

button {
    padding: 20px 20px;
    font-size: 1em;
    background-color: rgb(37, 170, 214);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    margin-top: 2rem;
}

.img-cnt{
    width:20rem;
    display: inline-block;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ham{
    display: none;
}

@media screen and (max-width:1024px) {
    .subnav{
        width:85%;
    }
}

@media screen and (max-width:768px) {
    h1{
        font-size: 2.5rem;
    }
    .img-cnt{
        width:15rem;
    }
    .subnav{
        flex-direction: row-reverse;
        width: max-content;
        gap:2rem
    }
    .ham{
        display: block;
    }
    
    .menu{
        position: fixed;
        height: 100vh;
        background-color: black;
        top:0;
        right:0;
        flex-direction: column;
        padding: 2rem 4rem;
        justify-content: center;
        display: none;
    }
    
    .menu a{
        color: white;
    }
    
    .ham:hover ~ .menu{
        display: flex;
    }
}

@media screen and (max-width:640px) {
    .hero{
        flex-direction: column;
        padding: 2rem;
    }
    .left,.right{
        width: 100%;
    }

    
}