* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    padding: 10px 20px;
}

.logo {
    color: rgb(37, 170, 214);
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu {
    display: inline-block;
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    color: black;
}

.menu a:hover {
    background-color: #575757;
}

.user {
    float: right;
    font-size: 16px;
    padding: 14px 20px;
    color: rgb(37, 170, 214);
}

.hero {
    display: block;
    background: #f0f0f0;
    margin: auto;
    width: 80%;
}

.left,
.right {
    display: inline-block;
}

.left {
    width: 40%;
    padding: 20px;
}

.left h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.left p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.left button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: rgb(37, 170, 214);
    color: white;
    border: none;
    cursor: pointer;
}

.left button:hover {
    background-color: #2670f1;
}

.right {
    width: 40%;
}

.right img {
    max-width: 100%;
}