* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    display: flex;
    width: 80%;
    height: 90vh;
    margin: auto;
    justify-content: center;
}

.left,
.form {
    display: flex;
    justify-content: center;
    width: 50%;
}

.left img {
    max-width: 100%;
    max-height: 100%;
}

.form {
    flex-direction: column;
    padding: 20px;
    gap: 20px
}

h1 {
    font-size: 2em;
    color: rgb(37, 170, 214);
    text-align: center;
}

p {
    font-size: 1.2em;
    color: rgb(114, 203, 233);
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

button {
    padding: 20px 20px;
    font-size: 1em;
    background-color: rgb(37, 170, 214);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(29, 105, 130);
}